body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 20px;
}

#quiz-container {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    background-color: #3086ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.option:hover {
    background-color: #0029bf;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

#next-question-btn {
    padding: 10px;
    background-color: #2196F3; /* Change this to the desired color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#next-question-btn:hover {
    background-color: #0029bf; /* Change this to the desired color on hover */
}
